In [8]:
doc1 = "sunshine state enjoy sunshine"
doc2 = "brown fox jump high, brown fox run" 
doc3="sunshine state fox run fast"
bow1 = doc1.split(" ")
bow2 = doc2.split(" ")
bow3 = doc3.split(" ")

In [9]:
words = set(bow1).union(set(bow2)).union(set(bow3))
words

{'brown', 'enjoy', 'fast', 'fox', 'high,', 'jump', 'run', 'state', 'sunshine'}

In [10]:
wordDict1 = dict.fromkeys(words, 0) 
wordDict2 = dict.fromkeys(words, 0) 
wordDict3 = dict.fromkeys(words, 0)

In [11]:
for word in bow1:
    wordDict1[word]+=1
for word in bow2:
    wordDict2[word]+=1
for word in bow3:
    wordDict3[word]+=1

In [12]:
import pandas as pd
pd.DataFrame([wordDict1, wordDict2 ,wordDict3])

   fox  enjoy  fast  run  jump  sunshine  high,  state  brown
0    0      1     0    0     0         2      0      1      0
1    2      0     0    1     1         0      1      0      2
2    1      0     1    1     0         1      0      1      0

In [13]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [17]:
tfBow1 = computeTF(wordDict1, bow1)
tfBow2 = computeTF(wordDict2, bow2)
tfBow3 = computeTF(wordDict3, bow3)

tfBow3

{'fox': 0.2,
 'enjoy': 0.0,
 'fast': 0.2,
 'run': 0.2,
 'jump': 0.0,
 'sunshine': 0.2,
 'high,': 0.0,
 'state': 0.2,
 'brown': 0.0}

In [18]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [19]:
idff = computeIDF([wordDict1, wordDict2 , wordDict3])

In [20]:
def computeTFIDF(tfBow, idff):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idff[word]
    return tfidf

In [22]:
tfidfBow1 = computeTFIDF(tfBow1, idff)
tfidfBow2 = computeTFIDF(tfBow2, idff)
tfidfBow3 = computeTFIDF(tfBow3, idff)

In [23]:
import pandas as pd
pd.DataFrame([tfidfBow1, tfidfBow2 , tfidfBow3])

,fox,enjoy,fast,run,jump,sunshine,"high,",state,brown
0,0.000000,0.11928,0.000000,0.000000,0.00000,0.088046,0.00000,0.044023,0.00000
1,0.050312,0.00000,0.000000,0.025156,0.06816,0.000000,0.06816,0.000000,0.13632
2,0.035218,0.00000,0.095424,0.035218,0.00000,0.035218,0.00000,0.035218,0.00000

In [24]:
import numpy as np
from numpy.linalg import norm
S1 = np.array([2,1,1,0,0,0,0,0,0])
S3 = np.array([1,1,0,0,1,0,0,1,1])
cosine = np.dot(S1,S3)/(norm(S1)*norm(S3))
print("Cosine Similarity:", cosine)

Cosine Similarity: 0.5477225575051661